<ion-tabs class="tabs-icon-top tabs-color-active-orange">
    <ion-tab title="美e贷" icon-off="icon-index-off" icon-on="icon-index-on" ng-click="goURL('tab.index')">
        <ion-nav-view name="tab-index"></ion-nav-view>
    </ion-tab>
    <ion-tab title="轻松贷" icon-off="icon-product-on" icon-on="icon-product-on" ng-click="goURL('tab.credit')">
        <ion-nav-view name="tab-credit"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon-off="icon-user-off" icon-on="icon-user-on" ng-click="goURL('tab.user')">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>
</ion-tabs>
