/* 取消 ionic 在IOS平台上自动增加40px的高度间距，实现android与ios效果一致 */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 44px; }
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: 0; }
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 1px; }
.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 44px; }
.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
    top: 44px; }
.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
    top: 88px; }
.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-tabs-top {
    top: 93px; }
.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-subheader.has-tabs-top {
    top: 137px; }
.platform-ios.platform-cordova.status-bar-hide {
    margin-bottom: 20px; }

/* 重写ionic的样式 */
.item{
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
}

/* 自定义的css */
.nav-bar-button{
    width: 34px;
    height: 34px;
    display:block;
    line-height: 34px;
    font-size: 24px;
    text-align: center;
}
/* 重写顶部按钮点击时的效果 */
.nav-bar-button.activated {
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
}